{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>MPLS Configuration</h1>
<br>
<h4>VRF, Interfaces, OSPF, EIGRP configuration</h4>
<br>
<!--<button type="button" class="btn btn-danger" 
title="" data-toggle="tooltip" 
>L3VPN</button>
-->
<a href="/rip" type="button" class="btn btn-secondary" 
title="" data-toggle="tooltip" 
>RIP</a>

<a href="/eigrp" type="button" class="btn btn-info" 
title="" data-toggle="tooltip" 
>EIGRP</a>

<a href="/ospf" type="button" class="btn btn-danger" 
title="" data-toggle="tooltip" 
>OSPF</a>

<button class="btn btn-warning dropdown-toggle" type="button" id="vpnButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">L3VPN</button>
<div class="dropdown-menu" aria-labelledby="vpnButton">
    <a class="dropdown-item" href="/create_vrf/ospf/">OSPF</a>
    <a class="dropdown-item" href="/create_vrf/eigrp/"   >EIGRP</a>
    <a class="dropdown-item" href="/create_vrf/rip/">RIP</a>
</div>

<!--<button type="button" class="btn btn-danger" 
title="" data-toggle="tooltip" 
>BGP</button>-->

<a href="/setinterface" type="button" class="btn btn-primary" 
title="" data-toggle="tooltip" 
>SET INTERFACE</a>

<a href="/changehostname" type="button" class="btn btn-dark" 
title="" data-toggle="tooltip" 
>CHANGE HOSTNAME</a>
<div class="btn-group">
<button class="btn btn-danger dropdown-toggle" type="button" id="deleteButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Delete</button>
<div class="dropdown-menu" aria-labelledby="deleteButton2">
    <a class="dropdown-item" href="/delete_vrf">VRF</a>
    <a class="dropdown-item" href="/delete_routage">Routing protocol</a>
</div>
</div>

<a href="/results" type="button" class="btn btn-success" 
title="" data-toggle="tooltip" 
>CONFIGURATION RESULTS</a>



{% endblock content %}