{% extends "base.html" %}
{% block content %}
<h1>MPLS Configuration</h1>
<br>
<h4>VRF, Interfaces, OSPF, EIGRP, RIP and BGP configuration</h4>
<br>
<button type="button" class="btn btn-danger" 
title="" data-toggle="tooltip" 
>L3VPN</button>

<button type="button" class="btn btn-danger" 
title="" data-toggle="tooltip" 
>EIGRP</button>

<button type="button" class="btn btn-danger" 
title="" data-toggle="tooltip" 
>RIP</button>

<button type="button" class="btn btn-danger" 
title="" data-toggle="tooltip" 
>OSPF</button>

<button type="button" class="btn btn-danger" 
title="" data-toggle="tooltip" 
>BGP</button>

<button type="button" class="btn btn-primary" 
title="" data-toggle="tooltip" 
>SET INTERFACE</button>
<br>
<br>
<button type="button" class="btn btn-dark" 
title="" data-toggle="tooltip" 
>CHANGE HOSTNAME</button>

<a href="/hostname" type="button" class="btn btn-success" 
title="" data-toggle="tooltip" 
>CONFIGURATION RESULTS</a>


{% endblock content %}